body {
  margin: 0;
  padding: 0;
}

.bodyChat {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: beige;
}

.chatContainer {
  width: 45%;
  height: 60%;
  margin: auto;
  border: solid 3px rgba(71, 73, 73, 0.178);
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chatSection {
  width: 98%;
  height: 85%;
  overflow: auto;
}

.inputContainer {
  width: 90%;
  display: flex;
}

.inputChat {
  width: 90%;
}

.sendChat {
  width: 10%;
}

.textInChat {
  font-family: "Roboto", serif;
  background-color: rgb(172, 223, 236);

  width: fit-content;
  max-width: 50%;

  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;
  margin-left: 1em;

  align-items: center;

  /*borde de los mensajes enviados*/
  border-radius: 0px 21px 0px 21px;
  -webkit-border-radius: 0px 21px 0px 21px;
  -moz-border-radius: 0px 21px 0px 21px;
}

.textInChat > h1 {
  font-weight: 600;
  font-size: 1em;


  margin-left: 1em;
  margin-right: 1em;  
  min-width: 1em;

  overflow-wrap: break-word;
  white-space: normal;
}
